#barChart{
    display: inline-flex;
    margin: 50px;   
    width: 1400px;
    align-items: flex-end;
}
.bar{
    width: 10px;
    background-color: goldenrod;
    margin-right: 10px;
}

.slider{
    padding: 5px;
    border-left: 0.5px;
    border-left-color:gray;
    border-left-style: solid;
    margin-left: 10px;
}